useDynLib(RIVSparse, .registration=TRUE)
import(Rcpp)
import(methods)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(VCSC_INT_INT)
export(VCSC_INT_UINT64)
export(VCSC_DOUBLE_INT)
export(VCSC_DOUBLE_UINT64)
